[submodule "engine"]
	path = engine
	url = https://github.com/infinitepwn/YASA-Engine.git
	branch = migration/python-tree-sitter
[submodule "uast"]
	path = uast
	url = https://github.com/infinitepwn/YASA-UAST.git
	branch = migration/python-tree-sitter
